---
import Layout from "../layouts/Layout.astro";
import { getSiteSettings } from "../lib/settings";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

// Get site settings
const siteSettings = await getSiteSettings();

// Get featured artworks (non-draft only)
const featuredArtworks = await getCollection("artwork", ({ data }) => {
    return !data.isDraft && data.featured?.image;
});
---

<Layout>
    <section class="h-svh snap-start">
        <h2>Featured Artworks2</h2>
        <p>This is the content of the page.</p>
    </section>
    <section class="h-svh snap-start">
        <h2>Test this</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ex
            earum eius provident. Molestiae beatae ad laborum accusantium
            cumque! Doloribus repudiandae tempora nisi facere dolor iusto optio
            alias aliquam atque.
        </p>
    </section>
</Layout>
