---
import { getSiteSettings } from "@/lib/settings";
import Switch from "./ui/ToggleSwitch.astro";
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
    [key: string]: unknown;
}

const { class: classNames = "", ...props } = Astro.props;
const settings = await getSiteSettings();
const { sitename = "Black Square" } = settings;
const abbreviated = sitename?.match(/\b\w/g)?.join("/").toUpperCase();
---

<div
    class="sheet"
    x-data="{ open: false, scrollY: 0 }"
    :class="{ 'sheet--drawer-open': open }"
    @keyup.esc="open = false"
>
    <!-- Drawer -->
    <aside
        class="sheet__drawer grid grid-rows-[1rem_1fr_auto] sm:grid-rows-[96px_1fr] bg-base"
        :class="open && 'border-muted border-r-2'"
        id="drawer"
        @click.outside="open = false"
        @keyup.esc="open = false"
    >
        <div class="hidden p-4 row-start-1 sm:flex items-center">
            <Switch
                size="xl"
                :checked="$store.darkMode.value"
                @click="({target}) => $store.darkMode.set(target.checked)"
            >
                <Icon
                    name="hugeicons:sun-03"
                    class="w-8 h-8 p-1 text-muted-foreground rounded-full inset-0 absolute m-auto group-has-checked:opacity-0 transition-opacity"
                />
                <Icon
                    name="hugeicons:moon-02"
                    class="w-8 h-8 p-1 inset-0 absolute m-auto text-foreground group-has-checked:opacity-100 opacity-0 transition-opacity"
                />
            </Switch>
        </div>
        <div class="sheet__drawer-inner row-start-2">
            <slot name="aside" />
        </div>
        <button
            class="py-4 border-t sm:hidden row-start-3 text-center"
            @click="open = false"
        >
            <Icon name="hugeicons:cancel-01" class="w-8 h-8 inline" /> Close
        </button>
    </aside>
    <main
        class:list={["sheet__main", "w-svw h-svh grid-container", classNames]}
        :class="open ? 'overflow-y-hidden' : 'overflow-y-auto'"
        @scroll.throttle.100s="scrollY = $event.target.scrollTop"
        {...props}
    >
        <header
            class="sticky snap-end top-0 border-none z-10 overflow-x-visible flex gap-4 items-center container-fullbreak transition-transform"
            :class="{'scale-95 -translate-x-4 sm:-translate-x-8': scrollY > 80}"
        >
            <button
                class="group bg-base row-start-1 z-10 flex gap-y-4 bg-background justify-center h-24 flex-col py-4 px-4 hover:bg-accent/50 w-24"
                :aria-expanded="open.toString()"
                aria-controls="drawer"
                @click.stop="open = !open"
            >
                <span
                    class="w-14 h-0.5 transition-all bg-foreground block rounded-lg"
                    :class="[open ? '-rotate-45 translate-x-[0.45rem] translate-y-[9px]' : 'group-hover:w-[30px]']"
                ></span>
                <span
                    class="w-14 group-hover:w-[49px] transition-all h-0.5 bg-foreground block rounded-lg"
                    x-show="!open"></span>
                <span
                    class="w-14 h-0.5 transition-all bg-foreground block rounded-lg"
                    :class="[open ? 'rotate-45 translate-x-[0.45rem] -translate-y-[9px]' : 'group-hover:w-[45px]']"
                ></span>
            </button>
            <h1 class="text-2xl font-semibold not-prose text-foreground">
                <a class="text-foreground font-body font-900" href="/">
                    <span class="sr-only">{sitename}</span>
                    <span
                        x-text={`scrollY > 80 || open ? "${abbreviated}" : '${sitename}'`}
                    ></span>
                </a>
            </h1>
        </header>
        <slot />
    </main>
</div>

<style scoped>
    @reference "@/styles/global.css";
    :root {
        --drawer-width: 100%;
        --drawer-height: 100vh;
        --drawer-transition-duration: 0.3s;
        --drawer-transition-timing: ease-in-out;
        @variant sm {
            --drawer-width: calc(40rem - 40px);
        }
    }

    .sheet {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-template-rows: auto;
        grid-template-areas: "drawer main";
        height: 100svh;
        overflow: clip;
        transition:
            grid-template-columns var(--drawer-transition-duration)
                var(--drawer-transition-timing),
            grid-template-rows var(--drawer-transition-duration)
                var(--drawer-transition-timing);
    }

    .sheet__main {
        grid-area: main;
        scroll-snap-type: y mandatory;
        overflow-x: auto;
    }

    /* When the drawer is open, change the first column's width */
    .sheet--drawer-open {
        grid-template-columns: var(--drawer-width) 1fr;
    }

    .sheet__drawer {
        grid-area: drawer;
        overflow: hidden;
        box-sizing: border-box;
    }

    /* Inner container ensures content doesn't get cut off and is scrollable */
    .sheet__drawer-inner {
        width: var(--drawer-width);
        height: 100%;
        overflow-y: auto;
    }

    @media (width <= 40rem) {
        .sheet {
            grid-template-columns: 1fr;
            grid-template-rows: 0 auto;
            grid-template-areas:
                "drawer"
                "main";
        }
        .sheet--drawer-open {
            grid-template-rows: var(--drawer-height) auto;
        }
    }
</style>
