---
import Head from "@/components/Head.astro";
import MainNav from "@/components/MainNav.astro";
import Sheet from "@/components/Sheet.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";

interface Props {
    title?: string;
    class?: string;
    [key: string]: unknown;
}
const { title, class: classNames, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <Head {title} />
    <body x-data x-cloak>
        <Sheet class:list={[classNames]} {...props}>
            <MainNav slot="aside" />

            <slot />

            <Footer />
        </Sheet>
    </body>
</html>
