---
import Head from "@/components/Head.astro";
import MainNav from "@/components/MainNav.astro";
import Sheet from "@/components/Sheet.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";

interface Props {
    title?: string;
    class?: string;
    [key: string]: unknown;
}
const { title, class: classNames, ...props } = Astro.props;
---

<html lang="en" class="scroll-smooth">
    <Head {title}>
        <script is:inline>
            const theme = (() => {
                if (
                    typeof localStorage !== "undefined" &&
                    localStorage.getItem("darkMode")
                ) {
                    return localStorage.getItem("darkMode") === "true";
                }
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    return true;
                }
                return false;
            })();

            if (theme) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
    </Head>
    <body x-data class="bg-base transition-colors">
        <Sheet class:list={[classNames]} {...props}>
            <MainNav slot="aside" />

            <slot />

            <Footer />
        </Sheet>
    </body>
</html>

<script>
    import "@/assets/scripts/alpine";
</script>
